:root {
    /* COLORS */
    --primary-color: #456548;
    --primary-mid: #8AAF90;
    --primary-light: #C5D9C8;
    --primary-soft: #E8EDE9;
    --secondary-color: #E6BBAB;
    --white: #FFFFFF;
    --primary-desc: #838987;

    /* TYPOGRAPHY */
    --font-main: 'Montserrat', sans-serif;

    --font-size-base: 18px;
    --h1-size: 56px;
    --h2-size: 42px;

    /* FONT WEIGHT */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    font-family: var(--font-main);
    font-size: 14px;
    color: #888;
    line-height: 1.7;
    font-weight: var(--fw-light);
}